<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478982598141-dr02hv2tj6gftrk2vaiks4e4n6tvh4gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478982598141-dr02hv2tj6gftrk2vaiks4e4n6tvh4gg</string>
	<key>API_KEY</key>
	<string>AIzaSyAGISkcn1sGGiMExuE3dskBAzzQdVgD-Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>478982598141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>miguel.rangel.AppChat</string>
	<key>PROJECT_ID</key>
	<string>appchat-a77b5</string>
	<key>STORAGE_BUCKET</key>
	<string>appchat-a77b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478982598141:ios:3d94f4d7907b3e45</string>
	<key>DATABASE_URL</key>
	<string>https://appchat-a77b5.firebaseio.com</string>
</dict>
</plist>